---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---

<h1>Projects</h1>

<style>
.archive {
  padding-right: 20%;
  box-sizing: border-box;
}
.archive p + p img,
.archive p + img,
.archive p ~ img {
  margin-top: 1.5em;
}
.archive__item hr {
border: none;
border-top: 1px solid #e0e0e0;
margin: 0.2em 0 1em 0;  /* 위 오른쪽 아래 왼쪽 순서 */
}
</style>

{% include base_path %}

{% assign sorted_portfolio = site.portfolio | sort: "date" | reverse %}
{% for post in sorted_portfolio %}
  {% include archive-single.html %}
{% endfor %}

